In [ ]:
# To pull ohlc for Reliance Daily data

In [8]:
# LOAD LIBRARIES
!pip install numpy
!pip install pandas
!pip install yfinance

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [7]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
import yfinance as yf

In [11]:
df= yf.download("RELIANCE.NS", start='2019-09-23', ens = '2021-09-23', interval='1d')

[*********************100%***********************]  1 of 1 completed

In [12]:
df

                   Open         High  ...    Adj Close    Volume
Date                                  ...
2019-09-23  1262.185791  1268.971436  ...  1219.050293   9973401
2019-09-24  1231.922607  1286.604248  ...  1257.907959  16133561
2019-09-25  1271.943237  1282.839966  ...  1258.744141   8395729
2019-09-26  1279.868164  1286.604248  ...  1275.713623   8468733
2019-09-27  1280.363403  1302.652100  ...  1287.764404   8795570
...                 ...          ...  ...          ...       ...
2021-09-17  2446.000000  2455.850098  ...  2390.550049  16098099
2021-09-20  2372.100098  2418.350098  ...  2394.350098   5436385
2021-09-21  2405.000000  2416.600098  ...  2404.699951   4576111
2021-09-22  2408.000000  2442.000000  ...  2430.500000   5074612
2021-09-23  2447.399902  2497.000000  ...  2489.899902   7265242

[496 rows x 6 columns]

In [13]:
# Mean, Median, Mode of ohlc data
df.describe()

              Open         High  ...    Adj Close        Volume
count   496.000000   496.000000  ...   496.000000  4.960000e+02
mean   1829.756917  1852.521351  ...  1820.659997  1.347879e+07
std     354.458512   354.268580  ...   355.389671  9.488811e+06
min     907.596863   941.079529  ...   869.675110  3.099956e+06
25%    1513.850220  1527.396790  ...  1499.625122  6.992831e+06
50%    1956.724976  1974.474976  ...  1948.681274  1.042536e+07
75%    2102.750000  2124.500000  ...  2099.024170  1.634412e+07
max    2452.000000  2497.000000  ...  2489.899902  6.584835e+07

[8 rows x 6 columns]